body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}


/*
Nav
*/

.color-fondo {
	background-color: #3ca01b;
}

.btn-nav {
	background-color: #3ca01b;	
}

i {
	color: white;
}

.elem-nav-pos {
	float: left;
}

.img-user {
	width: 1.5em;
	height: 1.5em;
}

.fondo-negro {
	color: black;
}

.texto-blanco {
	color: white;
}

.num-mens {
	background-color: rgba(255,255,255,.9); color: gray;
}



/*
 * Sidebar
 */

.marg-izq-elem{
	padding-left: 8px;
}

.margen-sup {
	margin-top: 8px;
}

.margen-izq{
	margin-left: -.8rem;
}

.color-texto:hover{
	color: blue;
}

details a:visited {
  color: black;
}

details a:hover{
  background-color: #fffcfc;
  border-radius: 8px;
  text-decoration: none;
  padding-left: 5px;
}

details {
	margin: .5rem;
}

li details a {
  margin: 0px;
  padding: 0px;
  font-size: .8rem;
  display: block;
}

ul li a{
  padding: 1px;
  margin: 1px;
}

ul li a:visited {
  color: black;
}

.actualizar:hover{
	text-decoration: none;
  	color: blue;
}

.actualizar:visited{
  	color: black;
}

.actualizar{
  text-decoration: none;
}

.sidebar {
	background-color: #e6eaef;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100; /* Behind the navbar */
	padding: 48px 0 0; /* Height of navbar */
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;  
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

#lateral-izq-sup div ul li i{
	color: black;
}

/*
*Footer de la barra izq
*/
.footer {
  	position: absolute;
  	bottom: 20px;
  	width: 95%;
  	 /* Set the fixed height of the footer here */
  	line-height: 60px; /* Vertically center the text there */
}

/*
 * Content
 */

[role="main"] {
  padding-top: 48px; /* Space for fixed navbar */
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.carga-doc:selected{
  background-color: gray;
}




/*Design responsive*/
@media  screen and (max-width:500px){
  
}