body {
  font-size: .875rem;
}

/***Nav***/

.color-fondo, .btn-nav {
	background-color: white;
}

.elem-nav-pos {
	float: left;
}

.btn-plus{
  margin-right: 2rem;
}

.img-user {
	width: 1.5em;
	height: 1.5em;
}

.tam-let{
  font-size: .8em;
}

.distancia{
  min-width: .1rem;
}

.buscar{
  border: none;
}

/***Sidebar***/

.sidebar {
  background-color: #1c1f25;
  position: fixed;
  top: 3rem;
  bottom: 0;
  left: 0;
  padding: 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;  
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.margen-sup {
  margin-top: 2rem;
}

.marg-izq-elem{
  margin-left: .8rem;
}

.margen-izq{
	margin-left: -.8rem;
}

.texto-blanco, .i-blanco{
  color: white;
}

.card, .card-header, .card button{
  background-color: #1c1f25;
  color: white;
  border: none;
}

.card-header{
  padding: 1px;
  color: white;
}

.card-body{
  padding: 3px 0px;
  margin: 2px 0px;
}

.btn:focus{
  box-shadow: none;
}

.actualizar:hover{
  text-decoration: none;
  color: white;
}

.actualizar{
  color: white;
}

.collapse .card-body a:hover  {
  text-decoration: none;
  color: white;
}

.collapse{
  background: #23272f;
}

.card-body a{
  display: block;
  color: white;
  padding: 0.2rem 2rem;
  font-size: .7rem;
}

.card-body a:hover{
  background-color: #1c1f25;
  color: white; 
}


/***Footer de la barra izquierda***/
.footer {
  position: absolute;
  bottom: 20px;
  width: 95%;
  /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
}

/***Content***/

.contenido{
  background-color: #e6eaef;
  position: fixed; 
  float: left;display: 
  inline-block;
  top: 3rem;
  bottom: 0;
  left: 11.7rem;
  padding: 2rem .5rem 0 0;
  transition: 2s;
}

/***Diseño responsive***/

/**Nav**/
@media only screen and (max-width: 800px) {
  #elem-center, .footer {
    display: none;
  }
}

/**Barra izquierda**/
.menu{
  display: none;
}

.reub-contenedor{
  background-color: #e6eaef;
  position: fixed; 
  left: 3rem;
  float: left;
  display: inline-block;
  top: 3rem;
  bottom: 0;
  padding: 1rem 1rem 0 0;
  margin: 0;
  transition: 2s;
}